## name：shen
## time：2022-02-22
## content：python_data_analysis

# 1.安装jupyter notebook 扩展
* https://zhuanlan.zhihu.com/p/97394628

# 2.Python 基础回顾（预备知识）
## 列表推导式与条件赋值

In [2]:
student_index = [1000001,1000002,1000003,1000004,1000005,1000006]

In [3]:
# 需求： 学号 奇数先筛选出来

In [4]:
奇数_students = []
for i in student_index:
    if i%2 != 0:
        奇数_students.append(i)

In [5]:
奇数_students

[1000001, 1000003, 1000005]

In [6]:
# 列表推导式---> [结果变量  for循环 循环体]  ==> 一切的循环都可以用推导式来写
奇数_students = [i for i in student_index if i%2 !=0]
奇数_students

[1000001, 1000003, 1000005]

In [7]:
# 课本的例子
results = [m+'_'+n for m in ['a','b'] for n in ['c','d']]
results

['a_c', 'a_d', 'b_c', 'b_d']

In [8]:
results = []
for m in ['a','b']:
    for n in ['c','d']:
        results.append(m+'_'+n)

In [9]:
results

['a_c', 'a_d', 'b_c', 'b_d']

# 文件的读取和写入（P27）
![image](img/02_io_readwrite.svg)

> 1. csv
> 2. excel
> 3. txt

In [11]:
import pandas as pd

In [12]:
pd.read_html('https://hurun.net/zh-CN/Info/Detail?num=L9SQPH9FKJB1')[0]

     0     1             2          3            4    5     6     7
0   排名  排名变化            企业  价值（亿元人民币）  价值变化（亿元人民币）   总部    行业  成立年份
1    1     0            抖音      13400       -10050   北京  社交媒体  2012
2    2     1        SpaceX       8400         1680  洛杉矶    航天  2002
3    3    -1          蚂蚁集团       8000        -2010   杭州  金融科技  2014
4    4     0        Stripe       4100        -2230  旧金山  金融科技  2010
5    5    11         Shein       4000         2680   广州  电子商务  2012
6    6    15            币安       3000         2010  马耳他   区块链  2017
7    7     1    Databricks       2500            0  旧金山   大数据  2013
8    8     3          微众银行       2200          200   深圳  金融科技  2014
9    9     2          京东科技       2000            0   北京  数字科技  2013
10  10    11  Checkout.com       1900          870   伦敦  金融科技  2012

In [13]:
pd.read_html('https://hurun.net/zh-CN/Info/Detail?num=L9SQPH9FKJB1')[0].to_excel('output_hurun.xlsx')

ModuleNotFoundError: No module named 'openpyxl'