# name:shen
# time:2023/3/15
# content:groupby聚合运算

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/learn_pandas.csv")

In [3]:
df.groupby('Gender')['Height'].mean()

Gender
Female    159.19697
Male      173.62549
Name: Height, dtype: float64

In [4]:
df.groupby('Gender')['Height'].median()

Gender
Female    159.6
Male      173.4
Name: Height, dtype: float64

In [5]:
df.groupby(['School','Gender'])['Height'].mean()

School                         Gender
Fudan University               Female    158.776923
                               Male      174.212500
Peking University              Female    158.666667
                               Male      172.030000
Shanghai Jiao Tong University  Female    159.122500
                               Male      176.760000
Tsinghua University            Female    159.753333
                               Male      171.638889
Name: Height, dtype: float64

In [6]:
df.groupby(['School','Gender'])['Height'].median()

School                         Gender
Fudan University               Female    159.10
                               Male      175.95
Peking University              Female    159.90
                               Male      171.00
Shanghai Jiao Tong University  Female    159.15
                               Male      176.40
Tsinghua University            Female    160.70
                               Male      170.40
Name: Height, dtype: float64

In [7]:
df.groupby(['Gender','School'])['Height'].mean()

Gender  School
Female  Fudan University                 158.776923
        Peking University                158.666667
        Shanghai Jiao Tong University    159.122500
        Tsinghua University              159.753333
Male    Fudan University                 174.212500
        Peking University                172.030000
        Shanghai Jiao Tong University    176.760000
        Tsinghua University              171.638889
Name: Height, dtype: float64

In [9]:
df.groupby(['School']).agg({'Height':'mean','Weight':'mean'})

                                   Height     Weight
School
Fudan University               162.408824  54.000000
Peking University              162.977419  55.666667
Shanghai Jiao Tong University  163.932727  56.442308
Tsinghua University            163.149206  54.223881

In [63]:
hurun_独角兽 = pd.read_html('https://www.hurun.net/zh-CN/Info/Detail?num=L9SQPH9FKJB1')[-3]

In [64]:
df_hurun = hurun_独角兽[1:]

In [65]:
df_hurun.columns = hurun_独角兽[0:1].values.tolist()[0]
df_hurun

     排名 排名变化                 企业名称 价值（亿元人民币） 价值变化（亿元人民币）  国家     城市    行业
1     1    0                   抖音     13400      -10050  中国     北京  社交媒体
2     2    1               SpaceX      8400        1680  美国    洛杉矶    航天
3     3   -1                 蚂蚁集团      8000       -2010  中国     杭州  金融科技
4     4    0               Stripe      4100       -2210  美国    旧金山  金融科技
5     5   11                Shein      4000        2680  中国     广州  电子商务
..   ..  ...                  ...       ...         ...  ..    ...   ...
97   95  -16        Impossible 食品       470           0  美国  雷德伍德城  食品饮料
98   95  -16                   微医       470           0  中国     杭州  健康科技
99   99   58                 蜂巢能源       460         190  中国     常州   新能源
100  99   -6           Better.com       460          60  美国     纽约  金融科技
101  99  -20  Automation Anywhere       460         -10  美国    圣何塞  人工智能

[101 rows x 8 columns]

In [66]:
df_hurun['价值（亿元人民币）'].astype('int64')

1      13400
2       8400
3       8000
4       4100
5       4000
       ...
97       470
98       470
99       460
100      460
101      460
Name: 价值（亿元人民币）, Length: 101, dtype: int64

In [67]:
df_hurun.groupby(['国家','行业'])['价值（亿元人民币）'].sum()

国家     行业
中国     人工智能                                      570
       企业服务                                      515
       保险                                        740
       健康科技                                  1040470
       共享经济                                      965
       大数据                                       535
       数字科技                                     2000
       新能源                                 670640460
       新能源汽车                                     600
       新零售                                       670
       机器人                                      1200
       物流                                 1800870500
       电子商务                               4000670670
       社交媒体                                    13400
       软件服务                                  1300570
       金融科技                                 80002200
       食品饮料                                     1000
以色列    区块链                                       535
印度     共享经济                                      480
       快递                                        720
       教育科技                                     1500
       游戏                                        535
印度尼西亚  共享经济                                      700
       电子商务                                     1300
土耳其    快递                                        800
墨西哥    电子商务                                      580
巴哈马    区块链                                      1300
德国     软件服务                                      555
澳大利亚   软件服务                                     1750
瑞典     新能源                                       800
       新能源汽车                                    1300
瑞士     区块链                                       575
美国     人工智能                          870670500490460
       企业服务                                     1170
       健康科技                                   840470
       共享经济                                     1000
       分析                                        575
       区块链                                 760710500
       大数据                                      2500
       快递                                   13201000
       机器人                                       575
       游戏                                        600
       物流                                    1200535
       生物科技                                   800540
       电子商务                                   840490
       社交媒体                                     1000
       网络安全                                600555535
       航天                                       8400
       软件服务                 750670600500480480480470
       金融科技     410015001250900820800800670540495460
       食品饮料                                      470
英国     区块链                                       700
       软件服务                                   570520
       金融科技                           19001650700535
越南     消费品                                       550
韩国     区块链                                       535
       电子商务                                      560
马耳他    区块链                                      3000
Name: 价值（亿元人民币）, dtype: object

In [68]:
df_summm = df_hurun.groupby(['国家','行业'])['价值（亿元人民币）'].mean()

In [69]:
df_hurun.groupby(['国家','行业']).agg({'价值（亿元人民币）':'mean','行业':'count'})

                价值（亿元人民币）  行业
国家    行业
中国    人工智能   5.700000e+02   1
      企业服务   5.150000e+02   1
      保险     7.400000e+02   1
      健康科技   5.202350e+05   2
      共享经济   9.650000e+02   1
      大数据    5.350000e+02   1
      数字科技   2.000000e+03   1
      新能源    2.235468e+08   3
      新能源汽车  6.000000e+02   1
      新零售    6.700000e+02   1
      机器人    1.200000e+03   1
      物流     6.002902e+08   3
      电子商务   1.333557e+09   3
      社交媒体   1.340000e+04   1
      软件服务   6.502850e+05   2
      金融科技   4.000110e+07   2
      食品饮料   1.000000e+03   1
以色列   区块链    5.350000e+02   1
印度    共享经济   4.800000e+02   1
      快递     7.200000e+02   1
      教育科技   1.500000e+03   1
      游戏     5.350000e+02   1
印度尼西亚 共享经济   7.000000e+02   1
      电子商务   1.300000e+03   1
土耳其   快递     8.000000e+02   1
墨西哥   电子商务   5.800000e+02   1
巴哈马   区块链    1.300000e+03   1
德国    软件服务   5.550000e+02   1
澳大利亚  软件服务   1.750000e+03   1
瑞典    新能源    8.000000e+02   1
      新能源汽车  1.300000e+03   1
瑞士    区块链    5.750000e+02   1
美国    人工智能   1.741341e+14   5
      企业服务   1.170000e+03   1
      健康科技   4.202350e+05   2
      共享经济   1.000000e+03   1
      分析     5.750000e+02   1
      区块链    2.535702e+08   3
      大数据    2.500000e+03   1
      快递     6.600500e+06   2
      机器人    5.750000e+02   1
      游戏     6.000000e+02   1
      物流     6.002675e+05   2
      生物科技   4.002700e+05   2
      电子商务   4.202450e+05   2
      社交媒体   1.000000e+03   1
      网络安全   2.001852e+08   3
      航天     8.400000e+03   1
      软件服务   9.383383e+22   8
      金融科技   3.727409e+34  11
      食品饮料   4.700000e+02   1
英国    区块链    7.000000e+02   1
      软件服务   2.852600e+05   2
      金融科技   4.750413e+12   4
越南    消费品    5.500000e+02   1
韩国    区块链    5.350000e+02   1
      电子商务   5.600000e+02   1
马耳他   区块链    3.000000e+03   1

In [70]:
df_hurun['价值（亿元人民币）'].astype('int64')

1      13400
2       8400
3       8000
4       4100
5       4000
       ...
97       470
98       470
99       460
100      460
101      460
Name: 价值（亿元人民币）, Length: 101, dtype: int64

In [71]:
df_hurun.groupby(['行业','国家']).agg({'价值（亿元人民币）':'mean'})

                价值（亿元人民币）
行业    国家
人工智能  中国     5.700000e+02
      美国     1.741341e+14
企业服务  中国     5.150000e+02
      美国     1.170000e+03
保险    中国     7.400000e+02
健康科技  中国     5.202350e+05
      美国     4.202350e+05
共享经济  中国     9.650000e+02
      印度     4.800000e+02
      印度尼西亚  7.000000e+02
      美国     1.000000e+03
分析    美国     5.750000e+02
区块链   以色列    5.350000e+02
      巴哈马    1.300000e+03
      瑞士     5.750000e+02
      美国     2.535702e+08
      英国     7.000000e+02
      韩国     5.350000e+02
      马耳他    3.000000e+03
大数据   中国     5.350000e+02
      美国     2.500000e+03
快递    印度     7.200000e+02
      土耳其    8.000000e+02
      美国     6.600500e+06
教育科技  印度     1.500000e+03
数字科技  中国     2.000000e+03
新能源   中国     2.235468e+08
      瑞典     8.000000e+02
新能源汽车 中国     6.000000e+02
      瑞典     1.300000e+03
新零售   中国     6.700000e+02
机器人   中国     1.200000e+03
      美国     5.750000e+02
消费品   越南     5.500000e+02
游戏    印度     5.350000e+02
      美国     6.000000e+02
物流    中国     6.002902e+08
      美国     6.002675e+05
生物科技  美国     4.002700e+05
电子商务  中国     1.333557e+09
      印度尼西亚  1.300000e+03
      墨西哥    5.800000e+02
      美国     4.202450e+05
      韩国     5.600000e+02
社交媒体  中国     1.340000e+04
      美国     1.000000e+03
网络安全  美国     2.001852e+08
航天    美国     8.400000e+03
软件服务  中国     6.502850e+05
      德国     5.550000e+02
      澳大利亚   1.750000e+03
      美国     9.383383e+22
      英国     2.852600e+05
金融科技  中国     4.000110e+07
      美国     3.727409e+34
      英国     4.750413e+12
食品饮料  中国     1.000000e+03
      美国     4.700000e+02

In [72]:
df_hurun.groupby(['国家','行业']).agg({'价值（亿元人民币）':'mean','行业':'count'})

                价值（亿元人民币）  行业
国家    行业
中国    人工智能   5.700000e+02   1
      企业服务   5.150000e+02   1
      保险     7.400000e+02   1
      健康科技   5.202350e+05   2
      共享经济   9.650000e+02   1
      大数据    5.350000e+02   1
      数字科技   2.000000e+03   1
      新能源    2.235468e+08   3
      新能源汽车  6.000000e+02   1
      新零售    6.700000e+02   1
      机器人    1.200000e+03   1
      物流     6.002902e+08   3
      电子商务   1.333557e+09   3
      社交媒体   1.340000e+04   1
      软件服务   6.502850e+05   2
      金融科技   4.000110e+07   2
      食品饮料   1.000000e+03   1
以色列   区块链    5.350000e+02   1
印度    共享经济   4.800000e+02   1
      快递     7.200000e+02   1
      教育科技   1.500000e+03   1
      游戏     5.350000e+02   1
印度尼西亚 共享经济   7.000000e+02   1
      电子商务   1.300000e+03   1
土耳其   快递     8.000000e+02   1
墨西哥   电子商务   5.800000e+02   1
巴哈马   区块链    1.300000e+03   1
德国    软件服务   5.550000e+02   1
澳大利亚  软件服务   1.750000e+03   1
瑞典    新能源    8.000000e+02   1
      新能源汽车  1.300000e+03   1
瑞士    区块链    5.750000e+02   1
美国    人工智能   1.741341e+14   5
      企业服务   1.170000e+03   1
      健康科技   4.202350e+05   2
      共享经济   1.000000e+03   1
      分析     5.750000e+02   1
      区块链    2.535702e+08   3
      大数据    2.500000e+03   1
      快递     6.600500e+06   2
      机器人    5.750000e+02   1
      游戏     6.000000e+02   1
      物流     6.002675e+05   2
      生物科技   4.002700e+05   2
      电子商务   4.202450e+05   2
      社交媒体   1.000000e+03   1
      网络安全   2.001852e+08   3
      航天     8.400000e+03   1
      软件服务   9.383383e+22   8
      金融科技   3.727409e+34  11
      食品饮料   4.700000e+02   1
英国    区块链    7.000000e+02   1
      软件服务   2.852600e+05   2
      金融科技   4.750413e+12   4
越南    消费品    5.500000e+02   1
韩国    区块链    5.350000e+02   1
      电子商务   5.600000e+02   1
马耳他   区块链    3.000000e+03   1

In [93]:
df_国家_行业 = df_hurun.groupby(['国家','行业']).agg({'价值（亿元人民币）':'mean','行业':'count'})

In [94]:
df_行业_国家 = df_hurun.groupby(['行业','国家']).agg({'价值（亿元人民币）':'mean','行业':'count'})

In [95]:
df_行业_城市 = df_hurun.groupby(['行业','城市']).agg({'价值（亿元人民币）':'mean','行业':'count'})

In [96]:
df_行业_城市_重命名 = df_hurun.groupby(['行业','城市']).agg(价值_亿 = ('价值（亿元人民币）','sum'),企业数量 = ("行业",'count'))

# Groupby 实践

In [73]:
gb = df.groupby(['School','Grade'])

In [74]:
gb

In [75]:
gb.ngroups

16

In [76]:
gd = df_hurun.groupby(['国家','行业'])

In [77]:
gd.ngroups

58

In [78]:
rec = gd.groups

In [79]:
rec.keys()

dict_keys([('中国', '人工智能'), ('中国', '企业服务'), ('中国', '保险'), ('中国', '健康科技'), ('中国', '共享经济'), ('中国', '大数据'), ('中国', '数字科技'), ('中国', '新能源'), ('中国', '新能源汽车'), ('中国', '新零售'), ('中国', '机器人'), ('中国', '物流'), ('中国', '电子商务'), ('中国', '社交媒体'), ('中国', '软件服务'), ('中国', '金融科技'), ('中国', '食品饮料'), ('以色列', '区块链'), ('印度', '共享经济'), ('印度', '快递'), ('印度', '教育科技'), ('印度', '游戏'), ('印度尼西亚', '共享经济'), ('印度尼西亚', '电子商务'), ('土耳其', '快递'), ('墨西哥', '电子商务'), ('巴哈马', '区块链'), ('德国', '软件服务'), ('澳大利亚', '软件服务'), ('瑞典', '新能源'), ('瑞典', '新能源汽车'), ('瑞士', '区块链'), ('美国', '人工智能'), ('美国', '企业服务'), ('美国', '健康科技'), ('美国', '共享经济'), ('美国', '分析'), ('美国', '区块链'), ('美国', '大数据'), ('美国', '快递'), ('美国', '机器人'), ('美国', '游戏'), ('美国', '物流'), ('美国', '生物科技'), ('美国', '电子商务'), ('美国', '社交媒体'), ('美国', '网络安全'), ('美国', '航天'), ('美国', '软件服务'), ('美国', '金融科技'), ('美国', '食品饮料'), ('英国', '区块链'), ('英国', '软件服务'), ('英国', '金融科技'), ('越南', '消费品'), ('韩国', '区块链'), ('韩国', '电子商务'), ('马耳他', '区块链')])

In [80]:
gd.size()

国家     行业
中国     人工智能      1
       企业服务      1
       保险        1
       健康科技      2
       共享经济      1
       大数据       1
       数字科技      1
       新能源       3
       新能源汽车     1
       新零售       1
       机器人       1
       物流        3
       电子商务      3
       社交媒体      1
       软件服务      2
       金融科技      2
       食品饮料      1
以色列    区块链       1
印度     共享经济      1
       快递        1
       教育科技      1
       游戏        1
印度尼西亚  共享经济      1
       电子商务      1
土耳其    快递        1
墨西哥    电子商务      1
巴哈马    区块链       1
德国     软件服务      1
澳大利亚   软件服务      1
瑞典     新能源       1
       新能源汽车     1
瑞士     区块链       1
美国     人工智能      5
       企业服务      1
       健康科技      2
       共享经济      1
       分析        1
       区块链       3
       大数据       1
       快递        2
       机器人       1
       游戏        1
       物流        2
       生物科技      2
       电子商务      2
       社交媒体      1
       网络安全      3
       航天        1
       软件服务      8
       金融科技     11
       食品饮料      1
英国     区块链       1
       软件服务      2
       金融科技      4
越南     消费品       1
韩国     区块链       1
       电子商务      1
马耳他    区块链       1
dtype: int64

# 聚合函数

In [82]:
df_hurun.groupby(['行业','城市']).agg({'价值（亿元人民币）':sum,'行业':'count'})

            价值（亿元人民币）  行业
行业   城市
人工智能 哈里斯堡         500   1
     圣何塞          460   1
     广州           570   1
     旧金山    870670490   3
企业服务 宿迁           515   1
...               ...  ..
金融科技 深圳          2200   1
     纽约        540460   2
     芝加哥         1500   1
食品饮料 北京          1000   1
     雷德伍德城        470   1

[82 rows x 2 columns]

In [88]:
df.agg({'Height':['mean','max'],'Weight':['mean','max']})

          Height     Weight
mean  163.218033  55.015873
max   193.900000  89.000000

In [89]:
df_hurun.groupby(['行业','城市']).agg({'价值（亿元人民币）':sum,'行业':'count'})

            价值（亿元人民币）  行业
行业   城市
人工智能 哈里斯堡         500   1
     圣何塞          460   1
     广州           570   1
     旧金山    870670490   3
企业服务 宿迁           515   1
...               ...  ..
金融科技 深圳          2200   1
     纽约        540460   2
     芝加哥         1500   1
食品饮料 北京          1000   1
     雷德伍德城        470   1

[82 rows x 2 columns]

In [90]:
df_hurun.groupby(['行业','城市']).agg(价值_亿 = ('价值（亿元人民币）','sum'),企业数量 = ("行业",'count'))

                 价值_亿  企业数量
行业   城市
人工智能 哈里斯堡         500     1
     圣何塞          460     1
     广州           570     1
     旧金山    870670490     3
企业服务 宿迁           515     1
...               ...   ...
金融科技 深圳          2200     1
     纽约        540460     2
     芝加哥         1500     1
食品饮料 北京          1000     1
     雷德伍德城        470     1

[82 rows x 2 columns]

In [97]:
df_hurun.groupby(['行业','城市']).agg({'价值（亿元人民币）':sum,'行业':'count'})

            价值（亿元人民币）  行业
行业   城市
人工智能 哈里斯堡         500   1
     圣何塞          460   1
     广州           570   1
     旧金山    870670490   3
企业服务 宿迁           515   1
...               ...  ..
金融科技 深圳          2200   1
     纽约        540460   2
     芝加哥         1500   1
食品饮料 北京          1000   1
     雷德伍德城        470   1

[82 rows x 2 columns]

# 3.正确的输出分析结果

In [103]:
with pd.ExcelWriter('hurun_analysis_results‘.xlsx') as writer:
    df_国家_行业.to_excel(writer, sheet_name='分国家行业')
    df_行业_国家.to_excel(writer, sheet_name='分行业国家')
    df_行业_城市.to_excel(writer, sheet_name='分行业城市')
    df_行业_城市_重命名.to_excel(writer, sheet_name='分行业城市重命名')