<font color=gray size=4> 2022-2023-02 </font> 

<font color=gray size=4> Python Data Analysis Course(PDAC)</font>

<font color=gray size=4> 主讲：许智超 </font>


<font color=gray size=4> week06:Reshaping Data </font>

# 本周内容：Reshaping Data

## -Pivot
<img style="width:500px" src="pivot.jpg">
<img style="width:500px" src="pivot-2.jpg">
<img style="width:500px" src="pivot-3.jpg">

## -melt
<img style="width:500px" src="melt.jpg">


## -stack


## -unstack

# 长宽表的变形

In [1]:
import pandas as pd

In [2]:
# 创建长表格
pd.DataFrame(
    {
        'Gender':['F','F','M','M'],
        'Height':[163, 160, 175, 180]
    }
)

  Gender  Height
0      F     163
1      F     160
2      M     175
3      M     180

In [3]:
# 创建宽表格
pd.DataFrame({'Height: F':[163, 160],'Height: M':[175, 180]})

   Height: F  Height: M
0        163        175
1        160        180

## 1. pivot

In [4]:
df = pd.DataFrame(
    {
        'Class':[1,1,1,1,2,2],
        'Name':['San Zhang','San Zhang','San Zhang','San Zhang','Si Li','Si Li'],
        'Subject':['Chinese','Math','English','Chinese','Chinese','Math'],
        'Grade':[59,75,80,60,90,85]}
)

In [5]:
df

   Class       Name  Subject  Grade
0      1  San Zhang  Chinese     59
1      1  San Zhang     Math     75
2      1  San Zhang  English     80
3      1  San Zhang  Chinese     60
4      2      Si Li  Chinese     90
5      2      Si Li     Math     85

In [6]:
df.pivot(index='Name', columns='Subject', values='Grade')

ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
df.pivot_table(index='Name', columns='Subject', values='Grade',aggfunc="max")

* 我想看每一个人（index）的学科（columns）成绩分布情况（值）
* 我想看每一个学科（index）的同学们的（columns）成绩分布情况（值）

In [7]:
df.pivot(index='Subject', columns='Name', values='Grade')

ValueError: Index contains duplicate entries, cannot reshape

In [8]:
import pandas as pd

In [9]:
hurun_独角兽 = pd.read_html('https://www.hurun.net/zh-CN/Info/Detail?num=L9SQPH9FKJB1')[-3]
hurun_独角兽[0:1].values.tolist()[0]
df_hurun = hurun_独角兽[1:]
df_hurun.columns = hurun_独角兽[0:1].values.tolist()[0]
df_hurun['价值（亿元人民币）'] = df_hurun['价值（亿元人民币）'].astype('int64')
df_hurun

C:\Users\17728\AppData\Local\Temp\ipykernel_26940\1566942980.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hurun['价值（亿元人民币）'] = df_hurun['价值（亿元人民币）'].astype('int64')

     排名 排名变化                 企业名称  价值（亿元人民币） 价值变化（亿元人民币）  国家     城市    行业
1     1    0                   抖音      13400      -10050  中国     北京  社交媒体
2     2    1               SpaceX       8400        1680  美国    洛杉矶    航天
3     3   -1                 蚂蚁集团       8000       -2010  中国     杭州  金融科技
4     4    0               Stripe       4100       -2210  美国    旧金山  金融科技
5     5   11                Shein       4000        2680  中国     广州  电子商务
..   ..  ...                  ...        ...         ...  ..    ...   ...
97   95  -16        Impossible 食品        470           0  美国  雷德伍德城  食品饮料
98   95  -16                   微医        470           0  中国     杭州  健康科技
99   99   58                 蜂巢能源        460         190  中国     常州   新能源
100  99   -6           Better.com        460          60  美国     纽约  金融科技
101  99  -20  Automation Anywhere        460         -10  美国    圣何塞  人工智能

[101 rows x 8 columns]

In [10]:
df_hurun.to_excel('output.xlsx')

* 我想看每一个国家（index）的行业（columns）的估值（values）

In [11]:
df_hurun.query('国家 == "中国"')

    排名 排名变化    企业名称  价值（亿元人民币） 价值变化（亿元人民币）  国家  城市     行业
1    1    0      抖音      13400      -10050  中国  北京   社交媒体
3    3   -1    蚂蚁集团       8000       -2010  中国  杭州   金融科技
5    5   11   Shein       4000        2680  中国  广州   电子商务
8    8    3    微众银行       2200         200  中国  深圳   金融科技
9    9    2    京东科技       2000           0  中国  北京   数字科技
11  11   -2    菜鸟网络       1800        -470  中国  杭州     物流
18  16    0     小红书       1300           0  中国  上海   软件服务
22  22   -2      大疆       1200         130  中国  深圳    机器人
25  25   85    联影医疗       1040         700  中国  上海   健康科技
28  26   -5    元气森林       1000           0  中国  北京   食品饮料
30  30  New      滴滴        965         New  中国  北京   共享经济
32  32    5     货拉拉        870         200  中国  香港     物流
44  42   -8    阳光保险        740           0  中国  北京     保险
51  50  271      得物        670         510  中国  上海   电子商务
52  50   29    兴盛优选        670         200  中国  长沙    新零售
53  50  -13     车好多        670           0  中国  北京   电子商务
54  50  -13    远景能源        670           0  中国  无锡    新能源
57  57   53    中创新航        640         300  中国  常州    新能源
60  58   -3    极氪汽车        600           0  中国  宁波  新能源汽车
67  65   35    小马智行        570         200  中国  广州   人工智能
68  65   -5    58同城        570           0  中国  北京   软件服务
81  75  -10  平安智慧城市        535           0  中国  深圳    大数据
83  83   27    京东产发        515         180  中国  宿迁   企业服务
85  84  -47    滴滴货运        500        -170  中国  北京     物流
98  95  -16      微医        470           0  中国  杭州   健康科技
99  99   58    蜂巢能源        460         190  中国  常州    新能源

In [12]:
df_hurun.query('国家 == "中国"')['行业'].unique()

array(['社交媒体', '金融科技', '电子商务', '数字科技', '物流', '软件服务', '机器人', '健康科技',
       '食品饮料', '共享经济', '保险', '新零售', '新能源', '新能源汽车', '人工智能', '大数据', '企业服务'],
      dtype=object)

In [13]:
df_hurun.query('国家 == "美国"')['行业'].unique()

array(['航天', '金融科技', '大数据', '快递', '物流', '企业服务', '共享经济', '社交媒体', '人工智能',
       '健康科技', '电子商务', '生物科技', '区块链', '软件服务', '游戏', '网络安全', '分析', '机器人',
       '食品饮料'], dtype=object)

In [14]:
df_hurun.pivot(index="国家",columns="行业",values = "价值（亿元人民币）")

ValueError: Index contains duplicate entries, cannot reshape

In [15]:
df_hurun_pivot = df_hurun.pivot_table(index="国家",columns="行业",values = "价值（亿元人民币）",aggfunc="max")
df_hurun_pivot

行业,人工智能,企业服务,保险,健康科技,共享经济,分析,区块链,大数据,快递,教育科技,...,游戏,物流,生物科技,电子商务,社交媒体,网络安全,航天,软件服务,金融科技,食品饮料
国家,,,,,,,,,,,,,,,,,,,,,
中国,570.0,515.0,740.0,1040.0,965.0,NaN,NaN,535.0,NaN,NaN,...,NaN,1800.0,NaN,4000.0,13400.0,NaN,NaN,1300.0,8000.0,1000.0
以色列,NaN,NaN,NaN,NaN,NaN,NaN,535.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
印度,NaN,NaN,NaN,NaN,480.0,NaN,NaN,NaN,720.0,1500.0,...,535.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
印度尼西亚,NaN,NaN,NaN,NaN,700.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1300.0,NaN,NaN,NaN,NaN,NaN,NaN
土耳其,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,800.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
墨西哥,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,580.0,NaN,NaN,NaN,NaN,NaN,NaN
巴哈马,NaN,NaN,NaN,NaN,NaN,NaN,1300.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
德国,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,555.0,NaN,NaN
澳大利亚,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1750.0,NaN,NaN
瑞典,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
瑞士,NaN,NaN,NaN,NaN,NaN,NaN,575.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
美国,870.0,1170.0,NaN,840.0,1000.0,575.0,760.0,2500.0,1320.0,NaN,...,600.0,1200.0,800.0,840.0,1000.0,600.0,8400.0,750.0,4100.0,470.0
英国,NaN,NaN,NaN,NaN,NaN,NaN,700.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,570.0,1900.0,NaN
越南,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
韩国,NaN,NaN,NaN,NaN,NaN,NaN,535.0,NaN,NaN,NaN,...,NaN,NaN,NaN,560.0,NaN,NaN,NaN,NaN,NaN,NaN
马耳他,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
!pip install pyecharts

Requirement already satisfied: pyecharts in e:\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: prettytable in e:\anaconda3\lib\site-packages (from pyecharts) (3.7.0)
Requirement already satisfied: jinja2 in e:\anaconda3\lib\site-packages (from pyecharts) (2.11.3)
Requirement already satisfied: simplejson in e:\anaconda3\lib\site-packages (from pyecharts) (3.19.1)
Requirement already satisfied: MarkupSafe>=0.23 in e:\anaconda3\lib\site-packages (from jinja2->pyecharts) (2.0.1)
Requirement already satisfied: wcwidth in c:\users\17728\appdata\roaming\python\python39\site-packages (from prettytable->pyecharts) (0.2.6)

In [19]:
Faker.choose()

NameError: name 'Faker' is not defined

In [ ]:
Faker.values()

In [41]:
行业 = df_hurun_pivot.columns.tolist()
行业

['人工智能',
 '企业服务',
 '保险',
 '健康科技',
 '共享经济',
 '分析',
 '区块链',
 '大数据',
 '快递',
 '教育科技',
 '数字科技',
 '新能源',
 '新能源汽车',
 '新零售',
 '机器人',
 '消费品',
 '游戏',
 '物流',
 '生物科技',
 '电子商务',
 '社交媒体',
 '网络安全',
 '航天',
 '软件服务',
 '金融科技',
 '食品饮料']

In [43]:
中国 = df_hurun_pivot.query('国家 == "中国"').values[0].tolist()
中国

[570.0,
 515.0,
 740.0,
 1040.0,
 965.0,
 nan,
 nan,
 535.0,
 nan,
 nan,
 2000.0,
 670.0,
 600.0,
 670.0,
 1200.0,
 nan,
 nan,
 1800.0,
 nan,
 4000.0,
 13400.0,
 nan,
 nan,
 1300.0,
 8000.0,
 1000.0]

In [44]:
美国 = df_hurun_pivot.query('国家 == "美国"').values[0].tolist()
美国

[870.0,
 1170.0,
 nan,
 840.0,
 1000.0,
 575.0,
 760.0,
 2500.0,
 1320.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 575.0,
 nan,
 600.0,
 1200.0,
 800.0,
 840.0,
 1000.0,
 600.0,
 8400.0,
 750.0,
 4100.0,
 470.0]

# Bar可视化展示

In [45]:
from pyecharts import options as opts
from pyecharts.charts import Bar
from pyecharts.faker import Faker

c = (
    Bar()
    .add_xaxis(行业)
    .add_yaxis("中国", 中国, stack="stack1")
    .add_yaxis("美国", 美国, stack="stack1")
    .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
    .set_global_opts(
        datazoom_opts=opts.DataZoomOpts(),
        title_opts=opts.TitleOpts(title="Bar-胡润TOP独角兽中美对比"))
    
)
c.render_notebook()

# Pie饼状图的可视化展示

In [46]:
from pyecharts import options as opts
from pyecharts.charts import Pie
from pyecharts.faker import Faker

c = (
    Pie()
    .add("", [list(z) for z in zip(行业,中国)])
    .set_colors(["blue", "green", "yellow", "red", "pink", "orange", "purple"])
    .set_global_opts(title_opts=opts.TitleOpts(title="Pie-设置颜色"))
    .set_series_opts(label_opts=opts.LabelOpts(formatter="{b}: {c}"))
    .render("pie_set_color.html")
)

In [47]:
df_hurun_pivot.index

Index(['中国', '以色列', '印度', '印度尼西亚', '土耳其', '墨西哥', '巴哈马', '德国', '澳大利亚', '瑞典',
       '瑞士', '美国', '英国', '越南', '韩国', '马耳他'],
      dtype='object', name='国家')

In [48]:
国家数据 = []
for i in df_hurun_pivot.index:
    国家数据.append(df_hurun_pivot.query('国家 == "{country}"'.format(country=i)).values[0].tolist())
国家数据

[[570.0,
  515.0,
  740.0,
  1040.0,
  965.0,
  nan,
  nan,
  535.0,
  nan,
  nan,
  2000.0,
  670.0,
  600.0,
  670.0,
  1200.0,
  nan,
  nan,
  1800.0,
  nan,
  4000.0,
  13400.0,
  nan,
  nan,
  1300.0,
  8000.0,
  1000.0],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  535.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [nan,
  nan,
  nan,
  nan,
  480.0,
  nan,
  nan,
  nan,
  720.0,
  1500.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  535.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [nan,
  nan,
  nan,
  nan,
  700.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  1300.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  800.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  580.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  1300.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  555.0,
  nan,
  nan],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  1750.0,
  nan,
  nan],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  800.0,
  1300.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  575.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [870.0,
  1170.0,
  nan,
  840.0,
  1000.0,
  575.0,
  760.0,
  2500.0,
  1320.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  575.0,
  nan,
  600.0,
  1200.0,
  800.0,
  840.0,
  1000.0,
  600.0,
  8400.0,
  750.0,
  4100.0,
  470.0],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  700.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  570.0,
  1900.0,
  nan],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  550.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  535.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  560.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  3000.0,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan]]

# 批量化产出可视化

In [49]:
len(df_hurun_pivot.index)

16

In [50]:
import pyecharts.options as opts
from pyecharts.charts import Pie

for i in range(len(df_hurun_pivot.index)):
    x_data = 行业
    y_data = 国家数据[i]
    data_pair = [list(z) for z in zip(x_data, y_data)]
    data_pair.sort(key=lambda x: x[1])

    (
        Pie(init_opts=opts.InitOpts(bg_color="#2c343c"))
        .add(
            series_name="访问来源",
            data_pair=data_pair,
            rosetype="radius",
            radius="55%",
            center=["50%", "50%"],
            label_opts=opts.LabelOpts(is_show=False, position="center"),
        )
        .set_global_opts(
            title_opts=opts.TitleOpts(
                title="Customized Pie",
                pos_left="center",
                pos_top="20",
                title_textstyle_opts=opts.TextStyleOpts(color="#fff"),
            ),
            legend_opts=opts.LegendOpts(is_show=False),
        )
        .set_series_opts(
            tooltip_opts=opts.TooltipOpts(
                trigger="item", formatter="{a} <br/>{b}: {c} ({d}%)"
            ),
            label_opts=opts.LabelOpts(color="rgba(255, 255, 255, 0.3)"),
        )
        .render("output/"+df_hurun_pivot.index[i]+"_customized_pie.html")
    )

FileNotFoundError: [Errno 2] No such file or directory: 'output/中国_customized_pie.html'

* 利用 pivot 进行变形操作需要满足唯一性的要求，即由于在新表中的行列索引对应了唯一的 value ，因此原 表中的 index 和 columns 对应两个列的行组合必须唯一。例如，现在把原表中第二行张三的数学改为语文就 会报错，这是由于 Name 与 Subject 的组合中两次出现 (”San Zhang”, ”Chinese”) ，从而最后不能够确定到 底变形后应该是填写 80 分还是 75 分

In [27]:
df = pd.DataFrame(
    {
        'Class':[1, 1, 2, 2, 1, 1, 2, 2],
        'Name':['San Zhang', 'San Zhang', 'Si Li', 'Si Li','San Zhang', 'San Zhang', 'Si Li', 'Si Li'],
        'Examination': ['Mid', 'Final', 'Mid', 'Final','Mid', 'Final', 'Mid', 'Final'],
        'Subject':['Chinese', 'Chinese', 'Chinese', 'Chinese','Math', 'Math', 'Math', 'Math'],
        'Grade':[80, 75, 85, 65, 90, 85, 92, 88],
        'rank':[10, 15, 21, 15, 20, 7, 6, 2]
    })

In [28]:
df

   Class       Name Examination  Subject  Grade  rank
0      1  San Zhang         Mid  Chinese     80    10
1      1  San Zhang       Final  Chinese     75    15
2      2      Si Li         Mid  Chinese     85    21
3      2      Si Li       Final  Chinese     65    15
4      1  San Zhang         Mid     Math     90    20
5      1  San Zhang       Final     Math     85     7
6      2      Si Li         Mid     Math     92     6
7      2      Si Li       Final     Math     88     2

## 2. pivot 多级索引

In [29]:
df.pivot(
    index = ['Class','Name'],
    columns = ['Subject','Examination'],
    values = ['Grade','rank'] 
        )

                  Grade                     rank
Subject         Chinese       Math       Chinese       Math
Examination         Mid Final  Mid Final     Mid Final  Mid Final
Class Name
1     San Zhang      80    75   90    85      10    15   20     7
2     Si Li          85    65   92    88      21    15    6     2

In [30]:
hurun_独角兽 = pd.read_html('https://www.hurun.net/zh-CN/Info/Detail?num=L9SQPH9FKJB1')[-3]
hurun_独角兽[0:1].values.tolist()[0]
df_hurun = hurun_独角兽[1:]
df_hurun.columns = hurun_独角兽[0:1].values.tolist()[0]
df_hurun['价值（亿元人民币）'] = df_hurun['价值（亿元人民币）'].astype('int64')
df_hurun

C:\Users\17728\AppData\Local\Temp\ipykernel_26940\1566942980.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hurun['价值（亿元人民币）'] = df_hurun['价值（亿元人民币）'].astype('int64')

     排名 排名变化                 企业名称  价值（亿元人民币） 价值变化（亿元人民币）  国家     城市    行业
1     1    0                   抖音      13400      -10050  中国     北京  社交媒体
2     2    1               SpaceX       8400        1680  美国    洛杉矶    航天
3     3   -1                 蚂蚁集团       8000       -2010  中国     杭州  金融科技
4     4    0               Stripe       4100       -2210  美国    旧金山  金融科技
5     5   11                Shein       4000        2680  中国     广州  电子商务
..   ..  ...                  ...        ...         ...  ..    ...   ...
97   95  -16        Impossible 食品        470           0  美国  雷德伍德城  食品饮料
98   95  -16                   微医        470           0  中国     杭州  健康科技
99   99   58                 蜂巢能源        460         190  中国     常州   新能源
100  99   -6           Better.com        460          60  美国     纽约  金融科技
101  99  -20  Automation Anywhere        460         -10  美国    圣何塞  人工智能

[101 rows x 8 columns]

In [31]:
df_hurun.pivot_table(
    index = ['国家','城市'],
    columns = '行业',
    values = '价值（亿元人民币）',
    aggfunc="max"
        )

行业                     人工智能    企业服务     保险    健康科技    共享经济     分析     区块链  \
国家    城市
中国    上海                NaN     NaN    NaN  1040.0     NaN    NaN     NaN
      北京                NaN     NaN  740.0     NaN   965.0    NaN     NaN
      宁波                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      宿迁                NaN   515.0    NaN     NaN     NaN    NaN     NaN
      常州                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      广州              570.0     NaN    NaN     NaN     NaN    NaN     NaN
      无锡                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      杭州                NaN     NaN    NaN   470.0     NaN    NaN     NaN
      深圳                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      长沙                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      香港                NaN     NaN    NaN     NaN     NaN    NaN     NaN
以色列   内坦亚               NaN     NaN    NaN     NaN     NaN    NaN   535.0
印度    古尔冈               NaN     NaN    NaN     NaN   480.0    NaN     NaN
      孟买                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      班加罗尔              NaN     NaN    NaN     NaN     NaN    NaN     NaN
印度尼西亚 Kebayoran Baru    NaN     NaN    NaN     NaN   700.0    NaN     NaN
      雅加达               NaN     NaN    NaN     NaN     NaN    NaN     NaN
土耳其   伊斯坦布尔             NaN     NaN    NaN     NaN     NaN    NaN     NaN
墨西哥   墨西哥城              NaN     NaN    NaN     NaN     NaN    NaN     NaN
巴哈马   拿索                NaN     NaN    NaN     NaN     NaN    NaN  1300.0
德国    慕尼黑               NaN     NaN    NaN     NaN     NaN    NaN     NaN
澳大利亚  悉尼                NaN     NaN    NaN     NaN     NaN    NaN     NaN
瑞典    哥德堡               NaN     NaN    NaN     NaN     NaN    NaN     NaN
      斯德哥尔摩             NaN     NaN    NaN     NaN     NaN    NaN     NaN
瑞士    Zug               NaN     NaN    NaN     NaN     NaN    NaN   575.0
美国    Novi              NaN     NaN    NaN     NaN     NaN    NaN     NaN
      哈里斯堡            500.0     NaN    NaN     NaN     NaN    NaN     NaN
      圣何塞             460.0     NaN    NaN     NaN     NaN    NaN     NaN
      圣迭戈               NaN     NaN    NaN     NaN     NaN    NaN     NaN
      帕洛阿尔托             NaN     NaN    NaN     NaN     NaN    NaN     NaN
      旧金山             870.0  1170.0    NaN     NaN     NaN    NaN   760.0
      格兰岱尔市             NaN     NaN    NaN     NaN     NaN    NaN     NaN
      沃尔瑟姆              NaN     NaN    NaN   840.0     NaN    NaN     NaN
      波士顿               NaN     NaN    NaN     NaN     NaN    NaN     NaN
      洛杉矶               NaN     NaN    NaN     NaN  1000.0    NaN     NaN
      爱莫利维尔             NaN     NaN    NaN     NaN     NaN    NaN     NaN
      纽约                NaN     NaN    NaN   470.0     NaN  575.0   710.0
      芝加哥               NaN     NaN    NaN     NaN     NaN    NaN     NaN
      费城                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      雷德伍德城             NaN     NaN    NaN     NaN     NaN    NaN     NaN
英国    伦敦                NaN     NaN    NaN     NaN     NaN    NaN   700.0
越南    胡志明市              NaN     NaN    NaN     NaN     NaN    NaN     NaN
韩国    首尔                NaN     NaN    NaN     NaN     NaN    NaN   535.0
马耳他   马耳他               NaN     NaN    NaN     NaN     NaN    NaN  3000.0

行业                       大数据      快递    教育科技  ...     游戏      物流   生物科技  \
国家    城市                                      ...
中国    上海                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      北京                 NaN     NaN     NaN  ...    NaN   500.0    NaN
      宁波                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      宿迁                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      常州                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      广州                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      无锡                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      杭州                 NaN     NaN     NaN  ...    NaN  1800.0    NaN
      深圳               535.0     NaN     NaN  ...    NaN     NaN    NaN
      长沙                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      香港                 NaN     NaN     NaN  ...    NaN   870.0    NaN
以色列   内坦亚                NaN     NaN     NaN  ...    NaN     NaN    NaN
印度    古尔冈                NaN     NaN     NaN  ...    NaN     NaN    NaN
      孟买                 NaN     NaN     NaN  ...  535.0     NaN    NaN
      班加罗尔               NaN   720.0  1500.0  ...    NaN     NaN    NaN
印度尼西亚 Kebayoran Baru     NaN     NaN     NaN  ...    NaN     NaN    NaN
      雅加达                NaN     NaN     NaN  ...    NaN     NaN    NaN
土耳其   伊斯坦布尔              NaN   800.0     NaN  ...    NaN     NaN    NaN
墨西哥   墨西哥城               NaN     NaN     NaN  ...    NaN     NaN    NaN
巴哈马   拿索                 NaN     NaN     NaN  ...    NaN     NaN    NaN
德国    慕尼黑                NaN     NaN     NaN  ...    NaN     NaN    NaN
澳大利亚  悉尼                 NaN     NaN     NaN  ...    NaN     NaN    NaN
瑞典    哥德堡                NaN     NaN     NaN  ...    NaN     NaN    NaN
      斯德哥尔摩              NaN     NaN     NaN  ...    NaN     NaN    NaN
瑞士    Zug                NaN     NaN     NaN  ...    NaN     NaN    NaN
美国    Novi               NaN     NaN     NaN  ...    NaN  1200.0    NaN
      哈里斯堡               NaN     NaN     NaN  ...    NaN     NaN    NaN
      圣何塞                NaN     NaN     NaN  ...    NaN     NaN    NaN
      圣迭戈                NaN     NaN     NaN  ...    NaN     NaN  800.0
      帕洛阿尔托              NaN     NaN     NaN  ...    NaN     NaN    NaN
      旧金山             2500.0  1320.0     NaN  ...  600.0   535.0    NaN
      格兰岱尔市              NaN     NaN     NaN  ...    NaN     NaN    NaN
      沃尔瑟姆               NaN     NaN     NaN  ...    NaN     NaN    NaN
      波士顿                NaN     NaN     NaN  ...    NaN     NaN    NaN
      洛杉矶                NaN     NaN     NaN  ...    NaN     NaN    NaN
      爱莫利维尔              NaN     NaN     NaN  ...    NaN     NaN    NaN
      纽约                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      芝加哥                NaN     NaN     NaN  ...    NaN     NaN  540.0
      费城                 NaN  1000.0     NaN  ...    NaN     NaN    NaN
      雷德伍德城              NaN     NaN     NaN  ...    NaN     NaN    NaN
英国    伦敦                 NaN     NaN     NaN  ...    NaN     NaN    NaN
越南    胡志明市               NaN     NaN     NaN  ...    NaN     NaN    NaN
韩国    首尔                 NaN     NaN     NaN  ...    NaN     NaN    NaN
马耳他   马耳他                NaN     NaN     NaN  ...    NaN     NaN    NaN

行业                      电子商务     社交媒体   网络安全      航天    软件服务    金融科技    食品饮料
国家    城市
中国    上海               670.0      NaN    NaN     NaN  1300.0     NaN     NaN
      北京               670.0  13400.0    NaN     NaN   570.0     NaN  1000.0
      宁波                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      宿迁                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      常州                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      广州              4000.0      NaN    NaN     NaN     NaN     NaN     NaN
      无锡                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      杭州                 NaN      NaN    NaN     NaN     NaN  8000.0     NaN
      深圳                 NaN      NaN    NaN     NaN     NaN  2200.0     NaN
      长沙                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      香港                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
以色列   内坦亚                NaN      NaN    NaN     NaN     NaN     NaN     NaN
印度    古尔冈                NaN      NaN    NaN     NaN     NaN     NaN     NaN
      孟买                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      班加罗尔               NaN      NaN    NaN     NaN     NaN     NaN     NaN
印度尼西亚 Kebayoran Baru     NaN      NaN    NaN     NaN     NaN     NaN     NaN
      雅加达             1300.0      NaN    NaN     NaN     NaN     NaN     NaN
土耳其   伊斯坦布尔              NaN      NaN    NaN     NaN     NaN     NaN     NaN
墨西哥   墨西哥城             580.0      NaN    NaN     NaN     NaN     NaN     NaN
巴哈马   拿索                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
德国    慕尼黑                NaN      NaN    NaN     NaN   555.0     NaN     NaN
澳大利亚  悉尼                 NaN      NaN    NaN     NaN  1750.0     NaN     NaN
瑞典    哥德堡                NaN      NaN    NaN     NaN     NaN     NaN     NaN
      斯德哥尔摩              NaN      NaN    NaN     NaN     NaN     NaN     NaN
瑞士    Zug                NaN      NaN    NaN     NaN     NaN     NaN     NaN
美国    Novi               NaN      NaN    NaN     NaN     NaN     NaN     NaN
      哈里斯堡               NaN      NaN    NaN     NaN     NaN     NaN     NaN
      圣何塞                NaN      NaN  555.0     NaN     NaN     NaN     NaN
      圣迭戈                NaN      NaN    NaN     NaN     NaN     NaN     NaN
      帕洛阿尔托            490.0      NaN    NaN     NaN     NaN   495.0     NaN
      旧金山              840.0   1000.0    NaN     NaN   750.0  4100.0     NaN
      格兰岱尔市              NaN      NaN    NaN     NaN   480.0     NaN     NaN
      沃尔瑟姆               NaN      NaN    NaN     NaN     NaN     NaN     NaN
      波士顿                NaN      NaN    NaN     NaN   480.0     NaN     NaN
      洛杉矶                NaN      NaN    NaN  8400.0     NaN     NaN     NaN
      爱莫利维尔              NaN      NaN  600.0     NaN     NaN     NaN     NaN
      纽约                 NaN      NaN  535.0     NaN   470.0   540.0     NaN
      芝加哥                NaN      NaN    NaN     NaN     NaN  1500.0     NaN
      费城                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      雷德伍德城              NaN      NaN    NaN     NaN     NaN     NaN   470.0
英国    伦敦                 NaN      NaN    NaN     NaN   570.0  1900.0     NaN
越南    胡志明市               NaN      NaN    NaN     NaN     NaN     NaN     NaN
韩国    首尔               560.0      NaN    NaN     NaN     NaN     NaN     NaN
马耳他   马耳他                NaN      NaN    NaN     NaN     NaN     NaN     NaN

[44 rows x 26 columns]

In [32]:
df_hurun.query('国家 == "中国" or 国家 == "美国"').query()

TypeError: query() missing 1 required positional argument: 'expr'

In [33]:
df_hurun.query('国家 == "中国"').行业.unique()

array(['社交媒体', '金融科技', '电子商务', '数字科技', '物流', '软件服务', '机器人', '健康科技',
       '食品饮料', '共享经济', '保险', '新零售', '新能源', '新能源汽车', '人工智能', '大数据', '企业服务'],
      dtype=object)

In [34]:
df_hurun.query('国家 == "美国"').行业.unique()

array(['航天', '金融科技', '大数据', '快递', '物流', '企业服务', '共享经济', '社交媒体', '人工智能',
       '健康科技', '电子商务', '生物科技', '区块链', '软件服务', '游戏', '网络安全', '分析', '机器人',
       '食品饮料'], dtype=object)

## pivot_table
* 增加聚合方法

In [35]:
df = pd.DataFrame(
    {
        'Name':['San Zhang', 'San Zhang',  'San Zhang', 'San Zhang','Si Li', 'Si Li', 'Si Li', 'Si Li'],
        'Subject':['Chinese', 'Chinese', 'Math', 'Math','Chinese', 'Chinese', 'Math', 'Math'],
        'Grade':[80, 90, 100, 90, 70, 80, 85, 95]
    }
)

In [36]:
df

        Name  Subject  Grade
0  San Zhang  Chinese     80
1  San Zhang  Chinese     90
2  San Zhang     Math    100
3  San Zhang     Math     90
4      Si Li  Chinese     70
5      Si Li  Chinese     80
6      Si Li     Math     85
7      Si Li     Math     95

## melt

In [37]:
df = pd.DataFrame({'Class':[1,2],'Name':['San Zhang', 'Si Li'],'Chinese':[80, 90],'Math':[80, 75]})

In [38]:
df

   Class       Name  Chinese  Math
0      1  San Zhang       80    80
1      2      Si Li       90    75

In [39]:
df_melted = df.melt(id_vars = ['Class', 'Name'],
 value_vars = ['Chinese', 'Math'],
 var_name = 'Subject',
 value_name = 'Grade')

In [40]:
df_melted

   Class       Name  Subject  Grade
0      1  San Zhang  Chinese     80
1      2      Si Li  Chinese     90
2      1  San Zhang     Math     80
3      2      Si Li     Math     75