# name: shen
# time: 2023/03/29
# content:

In [2]:
import pandas as pd

In [10]:
# 长表格
pd.DataFrame(
    {
        'Gender':['F','F','M','M'],
        'Height':[163,160,175,180]
    }
)

  Gender  Height
0      F     163
1      F     160
2      M     175
3      M     180

In [11]:
# 宽表格
pd.DataFrame(
    {
        'Height:F':[160,175],'Height:M':[175,185]
    }
)

   Height:F  Height:M
0       160       175
1       175       185

# 1.pivot（# 中国跟美国行业对比，但是中国同一个行业出现了两次，这种情况不能使用pivot方法）

In [41]:
df = pd.DataFrame(
    {
        '教室':[1,1,1,2,2],
        '名字':['李','李','郑','王','王'],
        '科目':['语文','数学','英语','语文','数学'],
        '分数':[80,85,85,78,95]
    }
)
df

   教室 名字  科目  分数
0   1  李  语文  80
1   1  李  数学  85
2   1  郑  英语  85
3   2  王  语文  78
4   2  王  数学  95

In [42]:
df.pivot(index='名字',columns='科目',values='分数')

科目    数学    英语    语文
名字
李   85.0   NaN  80.0
王   95.0   NaN  78.0
郑    NaN  85.0   NaN

In [51]:
hurun_独角兽 = pd.read_html('https://www.hurun.net/zh-CN/Info/Detail?num=L9SQPH9FKJB1')[-3]
hurun_独角兽[0:1].values.tolist()[0]
df_hurun = hurun_独角兽[1:]
df_hurun.columns = hurun_独角兽[0:1].values.tolist()[0]
df_hurun['价值（亿元人民币）'] = df_hurun['价值（亿元人民币）'].astype('int64')
df_hurun

C:\Users\17728\AppData\Local\Temp\ipykernel_23608\1566942980.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hurun['价值（亿元人民币）'] = df_hurun['价值（亿元人民币）'].astype('int64')

     排名 排名变化                 企业名称  价值（亿元人民币） 价值变化（亿元人民币）  国家     城市    行业
1     1    0                   抖音      13400      -10050  中国     北京  社交媒体
2     2    1               SpaceX       8400        1680  美国    洛杉矶    航天
3     3   -1                 蚂蚁集团       8000       -2010  中国     杭州  金融科技
4     4    0               Stripe       4100       -2210  美国    旧金山  金融科技
5     5   11                Shein       4000        2680  中国     广州  电子商务
..   ..  ...                  ...        ...         ...  ..    ...   ...
97   95  -16        Impossible 食品        470           0  美国  雷德伍德城  食品饮料
98   95  -16                   微医        470           0  中国     杭州  健康科技
99   99   58                 蜂巢能源        460         190  中国     常州   新能源
100  99   -6           Better.com        460          60  美国     纽约  金融科技
101  99  -20  Automation Anywhere        460         -10  美国    圣何塞  人工智能

[101 rows x 8 columns]

# 每一个国家(index)的行业(columns)的估值情况

In [44]:
df_hurun.query("国家 == '中国'")['行业'].unique()

array(['社交媒体', '金融科技', '电子商务', '数字科技', '物流', '软件服务', '机器人', '健康科技',
       '食品饮料', '共享经济', '保险', '新零售', '新能源', '新能源汽车', '人工智能', '大数据', '企业服务'],
      dtype=object)

In [71]:
df_hurun.pivot_table(index=['国家','城市'],columns='行业',values='价值（亿元人民币）',aggfunc='max')

行业                     人工智能    企业服务     保险    健康科技    共享经济     分析     区块链  \
国家    城市
中国    上海                NaN     NaN    NaN  1040.0     NaN    NaN     NaN
      北京                NaN     NaN  740.0     NaN   965.0    NaN     NaN
      宁波                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      宿迁                NaN   515.0    NaN     NaN     NaN    NaN     NaN
      常州                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      广州              570.0     NaN    NaN     NaN     NaN    NaN     NaN
      无锡                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      杭州                NaN     NaN    NaN   470.0     NaN    NaN     NaN
      深圳                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      长沙                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      香港                NaN     NaN    NaN     NaN     NaN    NaN     NaN
以色列   内坦亚               NaN     NaN    NaN     NaN     NaN    NaN   535.0
印度    古尔冈               NaN     NaN    NaN     NaN   480.0    NaN     NaN
      孟买                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      班加罗尔              NaN     NaN    NaN     NaN     NaN    NaN     NaN
印度尼西亚 Kebayoran Baru    NaN     NaN    NaN     NaN   700.0    NaN     NaN
      雅加达               NaN     NaN    NaN     NaN     NaN    NaN     NaN
土耳其   伊斯坦布尔             NaN     NaN    NaN     NaN     NaN    NaN     NaN
墨西哥   墨西哥城              NaN     NaN    NaN     NaN     NaN    NaN     NaN
巴哈马   拿索                NaN     NaN    NaN     NaN     NaN    NaN  1300.0
德国    慕尼黑               NaN     NaN    NaN     NaN     NaN    NaN     NaN
澳大利亚  悉尼                NaN     NaN    NaN     NaN     NaN    NaN     NaN
瑞典    哥德堡               NaN     NaN    NaN     NaN     NaN    NaN     NaN
      斯德哥尔摩             NaN     NaN    NaN     NaN     NaN    NaN     NaN
瑞士    Zug               NaN     NaN    NaN     NaN     NaN    NaN   575.0
美国    Novi              NaN     NaN    NaN     NaN     NaN    NaN     NaN
      哈里斯堡            500.0     NaN    NaN     NaN     NaN    NaN     NaN
      圣何塞             460.0     NaN    NaN     NaN     NaN    NaN     NaN
      圣迭戈               NaN     NaN    NaN     NaN     NaN    NaN     NaN
      帕洛阿尔托             NaN     NaN    NaN     NaN     NaN    NaN     NaN
      旧金山             870.0  1170.0    NaN     NaN     NaN    NaN   760.0
      格兰岱尔市             NaN     NaN    NaN     NaN     NaN    NaN     NaN
      沃尔瑟姆              NaN     NaN    NaN   840.0     NaN    NaN     NaN
      波士顿               NaN     NaN    NaN     NaN     NaN    NaN     NaN
      洛杉矶               NaN     NaN    NaN     NaN  1000.0    NaN     NaN
      爱莫利维尔             NaN     NaN    NaN     NaN     NaN    NaN     NaN
      纽约                NaN     NaN    NaN   470.0     NaN  575.0   710.0
      芝加哥               NaN     NaN    NaN     NaN     NaN    NaN     NaN
      费城                NaN     NaN    NaN     NaN     NaN    NaN     NaN
      雷德伍德城             NaN     NaN    NaN     NaN     NaN    NaN     NaN
英国    伦敦                NaN     NaN    NaN     NaN     NaN    NaN   700.0
越南    胡志明市              NaN     NaN    NaN     NaN     NaN    NaN     NaN
韩国    首尔                NaN     NaN    NaN     NaN     NaN    NaN   535.0
马耳他   马耳他               NaN     NaN    NaN     NaN     NaN    NaN  3000.0

行业                       大数据      快递    教育科技  ...     游戏      物流   生物科技  \
国家    城市                                      ...
中国    上海                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      北京                 NaN     NaN     NaN  ...    NaN   500.0    NaN
      宁波                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      宿迁                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      常州                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      广州                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      无锡                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      杭州                 NaN     NaN     NaN  ...    NaN  1800.0    NaN
      深圳               535.0     NaN     NaN  ...    NaN     NaN    NaN
      长沙                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      香港                 NaN     NaN     NaN  ...    NaN   870.0    NaN
以色列   内坦亚                NaN     NaN     NaN  ...    NaN     NaN    NaN
印度    古尔冈                NaN     NaN     NaN  ...    NaN     NaN    NaN
      孟买                 NaN     NaN     NaN  ...  535.0     NaN    NaN
      班加罗尔               NaN   720.0  1500.0  ...    NaN     NaN    NaN
印度尼西亚 Kebayoran Baru     NaN     NaN     NaN  ...    NaN     NaN    NaN
      雅加达                NaN     NaN     NaN  ...    NaN     NaN    NaN
土耳其   伊斯坦布尔              NaN   800.0     NaN  ...    NaN     NaN    NaN
墨西哥   墨西哥城               NaN     NaN     NaN  ...    NaN     NaN    NaN
巴哈马   拿索                 NaN     NaN     NaN  ...    NaN     NaN    NaN
德国    慕尼黑                NaN     NaN     NaN  ...    NaN     NaN    NaN
澳大利亚  悉尼                 NaN     NaN     NaN  ...    NaN     NaN    NaN
瑞典    哥德堡                NaN     NaN     NaN  ...    NaN     NaN    NaN
      斯德哥尔摩              NaN     NaN     NaN  ...    NaN     NaN    NaN
瑞士    Zug                NaN     NaN     NaN  ...    NaN     NaN    NaN
美国    Novi               NaN     NaN     NaN  ...    NaN  1200.0    NaN
      哈里斯堡               NaN     NaN     NaN  ...    NaN     NaN    NaN
      圣何塞                NaN     NaN     NaN  ...    NaN     NaN    NaN
      圣迭戈                NaN     NaN     NaN  ...    NaN     NaN  800.0
      帕洛阿尔托              NaN     NaN     NaN  ...    NaN     NaN    NaN
      旧金山             2500.0  1320.0     NaN  ...  600.0   535.0    NaN
      格兰岱尔市              NaN     NaN     NaN  ...    NaN     NaN    NaN
      沃尔瑟姆               NaN     NaN     NaN  ...    NaN     NaN    NaN
      波士顿                NaN     NaN     NaN  ...    NaN     NaN    NaN
      洛杉矶                NaN     NaN     NaN  ...    NaN     NaN    NaN
      爱莫利维尔              NaN     NaN     NaN  ...    NaN     NaN    NaN
      纽约                 NaN     NaN     NaN  ...    NaN     NaN    NaN
      芝加哥                NaN     NaN     NaN  ...    NaN     NaN  540.0
      费城                 NaN  1000.0     NaN  ...    NaN     NaN    NaN
      雷德伍德城              NaN     NaN     NaN  ...    NaN     NaN    NaN
英国    伦敦                 NaN     NaN     NaN  ...    NaN     NaN    NaN
越南    胡志明市               NaN     NaN     NaN  ...    NaN     NaN    NaN
韩国    首尔                 NaN     NaN     NaN  ...    NaN     NaN    NaN
马耳他   马耳他                NaN     NaN     NaN  ...    NaN     NaN    NaN

行业                      电子商务     社交媒体   网络安全      航天    软件服务    金融科技    食品饮料
国家    城市
中国    上海               670.0      NaN    NaN     NaN  1300.0     NaN     NaN
      北京               670.0  13400.0    NaN     NaN   570.0     NaN  1000.0
      宁波                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      宿迁                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      常州                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      广州              4000.0      NaN    NaN     NaN     NaN     NaN     NaN
      无锡                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      杭州                 NaN      NaN    NaN     NaN     NaN  8000.0     NaN
      深圳                 NaN      NaN    NaN     NaN     NaN  2200.0     NaN
      长沙                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      香港                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
以色列   内坦亚                NaN      NaN    NaN     NaN     NaN     NaN     NaN
印度    古尔冈                NaN      NaN    NaN     NaN     NaN     NaN     NaN
      孟买                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      班加罗尔               NaN      NaN    NaN     NaN     NaN     NaN     NaN
印度尼西亚 Kebayoran Baru     NaN      NaN    NaN     NaN     NaN     NaN     NaN
      雅加达             1300.0      NaN    NaN     NaN     NaN     NaN     NaN
土耳其   伊斯坦布尔              NaN      NaN    NaN     NaN     NaN     NaN     NaN
墨西哥   墨西哥城             580.0      NaN    NaN     NaN     NaN     NaN     NaN
巴哈马   拿索                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
德国    慕尼黑                NaN      NaN    NaN     NaN   555.0     NaN     NaN
澳大利亚  悉尼                 NaN      NaN    NaN     NaN  1750.0     NaN     NaN
瑞典    哥德堡                NaN      NaN    NaN     NaN     NaN     NaN     NaN
      斯德哥尔摩              NaN      NaN    NaN     NaN     NaN     NaN     NaN
瑞士    Zug                NaN      NaN    NaN     NaN     NaN     NaN     NaN
美国    Novi               NaN      NaN    NaN     NaN     NaN     NaN     NaN
      哈里斯堡               NaN      NaN    NaN     NaN     NaN     NaN     NaN
      圣何塞                NaN      NaN  555.0     NaN     NaN     NaN     NaN
      圣迭戈                NaN      NaN    NaN     NaN     NaN     NaN     NaN
      帕洛阿尔托            490.0      NaN    NaN     NaN     NaN   495.0     NaN
      旧金山              840.0   1000.0    NaN     NaN   750.0  4100.0     NaN
      格兰岱尔市              NaN      NaN    NaN     NaN   480.0     NaN     NaN
      沃尔瑟姆               NaN      NaN    NaN     NaN     NaN     NaN     NaN
      波士顿                NaN      NaN    NaN     NaN   480.0     NaN     NaN
      洛杉矶                NaN      NaN    NaN  8400.0     NaN     NaN     NaN
      爱莫利维尔              NaN      NaN  600.0     NaN     NaN     NaN     NaN
      纽约                 NaN      NaN  535.0     NaN   470.0   540.0     NaN
      芝加哥                NaN      NaN    NaN     NaN     NaN  1500.0     NaN
      费城                 NaN      NaN    NaN     NaN     NaN     NaN     NaN
      雷德伍德城              NaN      NaN    NaN     NaN     NaN     NaN   470.0
英国    伦敦                 NaN      NaN    NaN     NaN   570.0  1900.0     NaN
越南    胡志明市               NaN      NaN    NaN     NaN     NaN     NaN     NaN
韩国    首尔               560.0      NaN    NaN     NaN     NaN     NaN     NaN
马耳他   马耳他                NaN      NaN    NaN     NaN     NaN     NaN     NaN

[44 rows x 26 columns]

In [62]:
df_hurun.pivot_table(index='国家',columns='行业',values='价值（亿元人民币）',aggfunc='max')

行业,人工智能,企业服务,保险,健康科技,共享经济,分析,区块链,大数据,快递,教育科技,...,游戏,物流,生物科技,电子商务,社交媒体,网络安全,航天,软件服务,金融科技,食品饮料
国家,,,,,,,,,,,,,,,,,,,,,
中国,570.0,515.0,740.0,1040.0,965.0,NaN,NaN,535.0,NaN,NaN,...,NaN,1800.0,NaN,4000.0,13400.0,NaN,NaN,1300.0,8000.0,1000.0
以色列,NaN,NaN,NaN,NaN,NaN,NaN,535.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
印度,NaN,NaN,NaN,NaN,480.0,NaN,NaN,NaN,720.0,1500.0,...,535.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
印度尼西亚,NaN,NaN,NaN,NaN,700.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1300.0,NaN,NaN,NaN,NaN,NaN,NaN
土耳其,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,800.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
墨西哥,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,580.0,NaN,NaN,NaN,NaN,NaN,NaN
巴哈马,NaN,NaN,NaN,NaN,NaN,NaN,1300.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
德国,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,555.0,NaN,NaN
澳大利亚,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1750.0,NaN,NaN
瑞典,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
瑞士,NaN,NaN,NaN,NaN,NaN,NaN,575.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
美国,870.0,1170.0,NaN,840.0,1000.0,575.0,760.0,2500.0,1320.0,NaN,...,600.0,1200.0,800.0,840.0,1000.0,600.0,8400.0,750.0,4100.0,470.0
英国,NaN,NaN,NaN,NaN,NaN,NaN,700.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,570.0,1900.0,NaN
越南,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
韩国,NaN,NaN,NaN,NaN,NaN,NaN,535.0,NaN,NaN,NaN,...,NaN,NaN,NaN,560.0,NaN,NaN,NaN,NaN,NaN,NaN
马耳他,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df_hurun.pivot(index='国家',columns='行业',values='价值（亿元人民币）')

     国家    行业
1    中国  社交媒体
2    美国    航天
3    中国  金融科技
4    美国  金融科技
5    中国  电子商务
..   ..   ...
97   美国  食品饮料
98   中国  健康科技
99   中国   新能源
100  美国  金融科技
101  美国  人工智能

[101 rows x 2 columns]

In [57]:
df_hurun.query('国家 == "中国"' or '国家 == "美国"').query()

TypeError: query() missing 1 required positional argument: 'expr'

In [60]:
hha = df_hurun.query('国家 == "中国"' or '国家 == "美国"').query()

TypeError: query() missing 1 required positional argument: 'expr'

# 2.pivot多级索引

In [65]:
df = pd.DataFrame({'Class':[1, 1, 2, 2, 1, 1, 2, 2],
'Name':['San Zhang', 'San Zhang', 'Si Li', 'Si Li',
'San Zhang', 'San Zhang', 'Si Li', 'Si Li'],
'Examination': ['Mid', 'Final', 'Mid', 'Final',
'Mid', 'Final', 'Mid', 'Final'],
'Subject':['Chinese', 'Chinese', 'Chinese', 'Chinese',
'Math', 'Math', 'Math', 'Math'],
'Grade':[80, 75, 85, 65, 90, 85, 92, 88],
'rank':[10, 15, 21, 15, 20, 7, 6, 2]})

In [66]:
df

   Class       Name Examination  Subject  Grade  rank
0      1  San Zhang         Mid  Chinese     80    10
1      1  San Zhang       Final  Chinese     75    15
2      2      Si Li         Mid  Chinese     85    21
3      2      Si Li       Final  Chinese     65    15
4      1  San Zhang         Mid     Math     90    20
5      1  San Zhang       Final     Math     85     7
6      2      Si Li         Mid     Math     92     6
7      2      Si Li       Final     Math     88     2

In [68]:
pivot_multi = df.pivot(index = ['Class', 'Name'],
columns = ['Subject','Examination'],
values = ['Grade','rank'])

In [69]:
pivot_multi

                  Grade                     rank
Subject         Chinese       Math       Chinese       Math
Examination         Mid Final  Mid Final     Mid Final  Mid Final
Class Name
1     San Zhang      80    75   90    85      10    15   20     7
2     Si Li          85    65   92    88      21    15    6     2